/* Profile */
.profile__info {
  margin: 0;
  padding: 0;
  max-width: 351px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

@media screen and (max-width: 540px) {
  .profile__info {
    margin: 0 auto;
    max-width: 282px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
}