/* Popup */
.popup__save-button {
  margin: 0 auto 37px;
  padding: 0;
  width: 358px;
  height: 50px;

  background-color: #000;
  border: none;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 180ms linear 2ms;

  content: "Сохранить";
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.popup__save-button:hover {
  opacity: .8;
  cursor: pointer;
}


@media screen and (max-width: 540px) {
  .popup__save-button {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;

    font-size: 14px;
    line-height: 1.21;
  }
}