/* Footer */
.footer__copyright {
  margin: 0 auto;
  min-width: 318px;
  width: 100%;
  color: #545454;
  font-size: 18px;
  font-style: normal;
  line-height: 1.21;
}

@media screen and (max-width: 899px) {
  .footer__copyright {
    width: 95%;
  }
}

@media screen and (max-width: 540px) {
  .footer__copyright {
    min-width: 150px;
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    width: 88%;
  }
}