/* Element */
.element__box {
  margin: 25px auto 25px;
  padding: 0;
  width: 90%;
  height: min-content;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

