/* Profile */
.profile__box {
  margin: 0;
  padding: 0;
  max-width: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 540px) {
  .profile__box {
    margin: 0 auto;
    max-width: 217px;
    justify-content: center;
    gap: 10px;
  }
}