/* Profile */
.profile__about-me {
  margin: 0;
  min-width: 294px;
  width: 100%;
  font-size: 18px;
  line-height: 1.21;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .profile__about-me {
    min-width: 217px;
    max-width: 282px;
    font-size: 14px;
    text-align: center;
  }
}

