/* Header */
.header {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 540px) {
  .header {
    min-height: 56px;
    min-width: 320px;
  }
}